*{
  margin: 0;

}

body h1 {
  color: white;
}
body p {
  color: white;
}

body{
  background-color: #8785A2;
}

.main-container{
  height: 80vh;
}

.circle{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.pos{
  position: absolute;
  top: 40%;
  z-index: 99;
}

.posl{
  position: absolute;
  top: 40%;
  right: 2%;
  z-index: 99;
}